# app config
PORT=3000
FE_PORT=3001
FE_ORIGIN=http://localhost:3001
MEET_ORIGIN=http://localhost:3002
JWT_SIGN_SECRET=HOKO_JWT_SIGN_SECRET

# coinmarketcap config
BASE_COINMARKETCAP_URL='https://pro-api.coinmarketcap.com'
API_KEY_COINMARKETCAP='a6b4c47d-561e-42b7-be93-8f5e11b71c99'
BASE_URL_COIN_CHART_7D='https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781'
BASE_URL_COIN_LOGO='https://s2.coinmarketcap.com'
# db config
DB_NAME=dcl5up2n6l1qq1
DB_USER=iecgkfxhahvjpc
DB_PASSWORD=ad99dcb53f8db451c7fb26be2556f191240c5b55f080426d25db7c6e5500e9a0
DB_HOST=ec2-54-159-22-90.compute-1.amazonaws.com
DB_PORT=5432

# redis config
REDIS_URL=redis://:MOCDhxKyASyIRkYd7Zdq5BUDGBQnqF5n@redis-17757.c232.us-east-1-2.ec2.cloud.redislabs.com:17757

# google email config
EMAIL_COMPANY=""
CLIENT_ID='827399353225-l7uus27gatc53vcn31v8ltmqj674for6.apps.googleusercontent.com'
CLIENT_SECRET='PYlr2MNghimO2dQcWo0VbVXy'
REDIRECT_URI='https://developers.google.com/oauthplayground'
REFRESH_TOKEN='1//04zdFsXe6lIiKCgYIARAAGAQSNwF-L9Ir4lHTBQeKZgbnoAO2xGMOKPcpndoIiEjqUDRNE9J1QT5-htR0pGNufaq_z0rg4Fb6JE0'

# misc
NODE_ENV=development
